html,body,.container {
    height:100%;
    background-color: rgb(245, 245, 245);
}
#range {
    font-size: 24px;
    color: #000;
}

li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

li::before{
    content: "\00BB";
    color:hotpink;
}

li:hover {
    background-color: rgb(214, 214, 214);
}

footer {
    text-align: right;
    padding: 0 80px 0 0;
}

.active{
    background-color: lightgreen;
}
  