html,body,.container {
    height:100%;
    background-color: rgb(245, 245, 245);
}
#range {
    font-size: 24px;
    color: #000;
}

li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

li::before{
    content: "\00BB";
    color:hotpink;
}

li:hover {
    background-color: rgb(214, 214, 214);
}

footer {
    text-align: right;
    padding: 0 80px 0 0;
}

.done{
    color: red;
}

.container-fluid {
    width: 960px !important;
}

.scrollable-panel {
    height: 380px;
    overflow-y: scroll;
    overflow: auto;
    width: 100%;
}

.top {
    margin-top: 20px;
}

tr:hover:nth-child(n-1) td {background-color: #f5f5c0; }

/* fixed table head */
table th {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 10; 
    background: hsl(185, 8%, 33%);
    color: white;
}

.btExport {
    float: right;
    margin-top: 0.3em;
    background-color: rgb(255, 255, 255);
    align-items: right;
    padding: auto;
}

.btExport img {
    width: 25px;
}